[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 11.0

[submodule "OCA/manufacture-reporting"]
	path = OCA/manufacture-reporting
	url = git@github.com:OCA/manufacture-reporting.git
	branch = 11.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 11.0

[submodule "Eficent/manufacture"]
	path = Eficent/manufacture
	url = git@github.com:Eficent/manufacture.git
	branch = 11.0-mig-mrp_production_service

[submodule "hveficent/purchase-workflow"]
	path = hveficent/purchase-workflow
	url = git@github.com:hveficent/purchase-workflow.git
	branch = 11.0-mig-purchase_request
